USE [master]
GO
/****** Object:  Database [RENTA1505]    Script Date: 31.07.2024 16:21:32 ******/
CREATE DATABASE [RENTA1505]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RENTA1505', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RENTA1505.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RENTA1505_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RENTA1505_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RENTA1505].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RENTA1505]
GO
/****** Object:  Table [dbo].[data]    Script Date: 31.07.2024 16:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data](
	[product_code] [varchar](50) NULL,
	[energy_value] [float] NULL,
	[energy_class] [varchar](50) NULL,
	[volume] [float] NULL,
	[test_function] [varchar](50) NULL,
	[total_working_cycle_power] [int] NULL,
	[pulsation] [varchar](50) NULL,
	[function_type] [varchar](50) NULL,
	[buffle] [varchar](50) NULL,
	[thermal_conductivity] [float] NULL,
	[insulation_density] [int] NULL,
	[insulation_thickness] [int] NULL,
	[cooling_fan_power] [int] NULL,
	[cooling_fan_type] [varchar](50) NULL,
	[cooling_fan_rpm] [int] NULL,
	[cavity_fan_power] [int] NULL,
	[cavity_fan_rpm] [int] NULL,
	[num_glass] [int] NULL,
	[cavity_type] [varchar](50) NULL,
	[ventilation_channel] [varchar](50) NULL,
	[chimney] [int] NULL,
	[bracket_description] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
